# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pch

# Executables
*.exe
*.out
*.app
/ipch
/Release
/Debug

#Solution support files
*.sdf
*.opensdf
*.suo
/Nego-Engine/Debug
/Nego-Engine/Release
Nego-Engine.pch
/Nego-Engine/Debug/*.log
/Nego-Engine/Debug/*.idb
/Nego-Engine/Debug/Ego-Engine.tlog
/Nego-Engine/Debug/*.pdb
/Nego-Engine/Debug/*.log
Debug
